%html
  %head
    %title paksudia
    %link{:href => "styles.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "new 2.js", :type => "text/javascript"}
  %body
    #background
      %div#Layer163
        =image_tag("Layer163.png")
      #logo
        =image_tag("logo.png")
      #learnmore
        %a{:href => ""}
          =image_tag("learnmore.png")
      #Shape46
        =image_tag("Shape46.png")
      #Shape43
        =image_tag("pak-saudi-8_10.png")
      #Shape8
        =image_tag("Shape8.png")
      #Shape9
        =image_tag("Shape9.png")
      #Shape37
        %input{:placeholder => "Search", :size => "35", :style => "background-color: #029348; color: #FFFFFF; font-size: 15px; font-family: arial; border: solid 5px #029348;height:29px;border-radius:25px;", :type => "text"}/
      #search
      #Shape5
        =image_tag("Shape5.png")
      #Shape45
        =image_tag("Shape45.png")
      #Shape45copy
      =image_tag("Shape45copy.png")
      #Shape45copy2
        =image_tag("Shape45copy2.png")
      #AboutTheCouncilMembe_0
        %nav
          %font{:color => "white", :font => "", :size => "4"}
            \&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} About The Council
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"} <font color="white";>Membership
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Program & Service
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Doing Busniess in Saudi Arabia
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Doing Busniess In Pakistan
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} News & Event
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Contact Us
      #AboutTheCouncilMembe_1
        %nav
          %font{:color => "white"}
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} About The Council
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Membership
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Program & Service
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Doing Busniess in Saudi Arabia
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Doing Busniess In Pakistan
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} News & Event
            \&nbsp;&nbsp;&nbsp;&nbsp;
            %a{:href => "", :style => "text-decoration : none;"}
              %font{:color => "white"} Contact Us
      #text1
        %h1
          %font{:color => "white", :face => "Myriad Pro", :font => ""}
            1.4 TRILLION IN INVESTMENT OPPORTUNITIES
      #SPACEFORADVERTISMENT SPACE FOR ADVERTISMENT
      #BusinessAdvisoryServ
      #Shape43_3
        =image_tag("pak-saudi-1_06.png")
      #Shape43_4
        =image_tag("pak-saudi-1_06.png")
      #Shape43_5
        =image_tag("pak-saudi-3b_03.png")
      #Shape43_2
        =image_tag("pak-saudi-8_10.png")
      #Shape43_0
        =image_tag("pak-saudi-37_03.png")
      #Shape43_1
        =image_tag("pak-saudi-37_03.png")
      #ABusinessGuidetoSaud_2
        %h1
          %font{:color => "#029347", :font => "", :size => "4"} A Business Council Release 2013
      #ABusinessGuidetoSaud_3
        %p
          %font{:color => "40a369"}
            Saudia Offers New Route to Los angeles
            %br/
            = succeed "Aramco,kfupm" do
              %br/
            set up design and maunfacturing Libray.
            %br/
            = succeed "Zamil" do
              %br/
            Opens Fiberglass Insulation Plant In Eastern Province.
            %br/
            = succeed "Halliburton" do
              %br/
            Launches Reservoir Productivity Technology Center
      #ABusinessGuidetoSaud_8
        %h1
          %font{:color => "#029347", :font => "", :size => "5"}
            %br/
            = succeed "A" do
              %br/
            Business Council Release 2013 annual report
        %p
          %font{:color => "#a5a2a2", :font => "", :size => "4"}
            The U.S. SUDIA Arabia Business council(USSABC)IS pleased to present the a bussniess Guide to saudia arabia 2013.Guide the premier saudia busniess resource,it is a quick reference tool and include important information for american companies intersted in entering the lucrative saudi market.
            %br/
            %br/
      #BusinessCouncilRelea
        %h1
          %font{:color => "#029347", :font => "", :size => "4"} A Business Council Release 2013 annual report
        %p
          %font{:color => "#a5a2a2"}
            The U.S. SUDIA Arabia Business council(USSABC)IS pleased to present the a bussniess Guide to saudia arabia 2013.Guide the premier saudia busniess resource,it is a quick reference tool and include important information for american.
            %br/
            %br/
      #Layer161
        =image_tag("pak-saudi-layer_03.png")
      #Layer161_4
        =image_tag("pak-saudi-layer_03.png")
      #Layer161_5
        =image_tag("pak-saudi-layer_03.png")
      #NewMembers
        <FONT COLOR="WHITE";FONT SIZE="3";>NEW MEMBERS
      #Layer167
        =image_tag("Layer167.png")
      #Layer161_1
        =image_tag("pak-saudi-3-Recovered_14 - Copy.png")
      #Layer161_2
        =image_tag("pak-saudi-layer_03.png")
      #Layer161_3
        =image_tag("pak-saudi-layer_03.png")
      #Layer161_0
        =image_tag("pak-saudi-3-Recovered_14.png")
      #VectorSmartObject
        =image_tag("VectorSmartObject.png")
      #BusinessAdvisoryServ_0
        %h1
          %font{:color => "#029347", :font => "", :size => "4", :width => "10px"} A Business Council Release 2013 annual report
        %p
          %font{:color => "#a5a2a2"}
            The U.S. SUDIA Arabia Business council(USSABC)IS pleased to present the a bussniess Guide to saudia arabia 2013.Guide the premier saudia busniess resource,it is a quick reference tool and include important information for american companies intersted in entering the lucrative saudi market.
            %br/
            %br/
      #BusinessAdvisoryServ
        %font{:color => "WHITE", :face => "Verdana", :font => "", :size => "4"} BUSINESS ADVISORY SERVICES
        %h1
          %font{:color => "#029347", :font => "", :size => "3"} A Business Guide to Saudi Arabia 2013
        %p
          %font{:color => "#a5a2a2", :font => "", :size => "3"}
            The U.S. SUDIA Arabia Business council (USSABC) IS pleased to present the a bussniess Guide to saudia arabia 2013.Guide the premier saudia busniess resource,it is a quick reference tool and include important information for american companies intersted in entering the lucrative saudi market.
            %br/
            %br/
            %br/
      #USSABCtoLeadDownstre
        %h1
          %font{:color => "#029347", :font => "", :size => "4"} A Business Council Release 2013 annual report
        %p
          %font{:color => "#a5a2a2", :font => "", :size => "4"}
            The U.S. SUDIA Arabia Business council(USSABC)IS pleased to present the a bussniess Guide to saudia arabia 2013.Guide the premier saudia busniess resource,it is a quick reference tool and include important information for american.
            %br/
            %br/
      #USSABCPreparesSurvey
        %h1
          %font{:color => "#029347", :font => "", :size => "4"} A Business Council Release 2013 annual report
        %p{:style => "background-colour=#029347"}
          %font{:color => "#a5a2a2", :font => "", :size => "4"}
            The U.S. SUDIA Arabia Business council(USSABC)IS pleased to present the a bussniess Guide to saudia arabia 2013.Guide the premier saudia busniess resource,it is a quick reference tool and include important information for american companies intersted in entering the lucrative saudi market.
            %br/
            %br/
        #1readmore
      #Shape41copy
        =image_tag("Shape41copy.png")
      #Shape41
        =image_tag("Shape41.png")
      #fb_19
        %a{:href => "https://www.facebook.com/"}
          =image_tag("fb_19.png")
      #in_21
        %a{:href => ""}
          =image_tag("in_21.png")
      #in_23
        %a{:href => ""}
          =image_tag("in_23.png")
      #2012OrigenTelecomALL
        =image_tag("2012OrigenTelecomALL.png")
      #copyrights2014psjcci
        %font{:color => "white", :face => "Verdana", :font => "", :size => "3"}
          Copyright 2014 psjcci.org all rights reserved
      #Withmoreuploadbandwi
        %h4
          %font{:color => "#d3dbca", :face => "Myriad Pro", :font => ""}
            With More Upload bandwidth and higher download speed youer busniess can be ready for any cloud
            %br/
            service or application
      #ExchangeRates
        %font{:color => "WHITE"} EXCHNAGE RATES
      #Currency Currency
      #Buying Buying
      #AustralianDollarCana
        %font{:size => "3"}
          %br>/
          Austalian
          = succeed "Canadian" do
            %br/
          = succeed "China" do
            %br/
          Yuan
          = succeed "Euro" do
            %br/
          = succeed "Japanese" do
            %br/
          Yen
          = succeed "Saudi" do
            %br/
          Riyal
          = succeed "U.A.E" do
            %br/
          Diram
          = succeed "UK" do
            %br/
          pound
          US Dollar
          %br/
      #layer_94759561705144510352
        %font{:size => "3"}
          94.75
          = succeed "95.06" do
            %br/
          = succeed "17.05" do
            %br/
          = succeed "144.5" do
            %br/
          = succeed "1.035" do
            %br/
          = succeed "28.05" do
            %br/
          = succeed "28.7" do
            %br/
          = succeed "175" do
            %br/
          = succeed "105.75" do
            %br/
      #layer_95958517314475104028
        %font{:size => "3"}
          94.75
          = succeed "95.06" do
            %br/
          = succeed "17.05" do
            %br/
          = succeed "144.5" do
            %br/
          = succeed "1.035" do
            %br/
          = succeed "28.05" do
            %br/
          = succeed "28.7" do
            %br/
          = succeed "175" do
            %br/
          = succeed "105.75" do
            %br/
      #CalendarofEvents CALENDAR OF EVENT
      #UpcomingEvents UPCOMING EVENTS
      #MembersOnlyEventRoun
        %h4
          %font{:color => "40a369"} Member Only Event:Roundtable with visiting member of majis al shura
        %p
          %font{:color => "#9d9d9d"}
            Febrouary 10,2014
            %br>/
            Washington DC,
        %h4
          %font{:color => "#40a369"} Member Only Event:Lunch With Secretary of Commerce penny Pritzker
        %br/
        %font{:color => "#9d9d9d"}
          February 27,2014
          %br>/
          Washington,DC
        %h4
          %font{:color => "#40a369"}
            Downstream Industries Mission to saudi Arabia
            %br/
        %font{:color => "#9d9d9d"}
          March1-6,2014
          %br>/
          Jubail&yanbu, saudi arabia
      #READMORE
        %a{:href => ""}
          =image_tag("READMORE.png")
      #READMORE_0
        %a{:href => ""}
          =image_tag("READMORE_0.png")
      #READMOREcopy
        %a{:href => ""}
          =image_tag("READMOREcopy.png")
      #MoreCurrencies
        %a{:href => ""}
          =image_tag("MoreCurrencies.png")
      #LatestNewsBulletins
        %font{:color => "WHITE"} LATEST NEWS BULLETINS
      #TheUSSaudiArabianBus
        %p
          %font{:color => "#a5a2a2"}
            %font{:size => "4"}
              The U.S. SAUDI Arabia Business council(USSABC)IS pleased to present the a bussniess Guide to saudia arabia 2013.Guide the premier saudia busniess resource,it is a quick reference tool and include important information for american.
              %br/
              %br/
      #Layer165
        =image_tag("Layer165.png")
      #Publications PUBLICATION
      #Selling Selling
      #SaudiaOffersNewRoute
        %p
          %font{:color => "#339966"}
            Saudia Offers New Route to Los angeles
            %br/
            = succeed "Aramco,kfupm" do
              %br/
            set up design and maunfacturing Libray.
            %br/
            = succeed "Zamil" do
              %br/
            Opens Fiberglass Insulation Plant In Eastern Province.
            %br/
            = succeed "Halliburton" do
              %br/
            Launches Reservoir Productivity Technology Center
      #more
        %a{:href => ""}
          =image_tag("more.png")
      #more2
        %a{:href => ""}
          =image_tag("more2.png")
      #more3
        %a{:href => ""}
          =image_tag("more3.png")
      #READMORE1
        %a{:href => ""}
          =image_tag("READMORE.png")
      .img
        %p
          %a{:href => "", :style => " text-decoration: none;"}
            %font{:color => "#009933", :face => "Verdana", :font => ""} Read More
 