/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

body{

margin:0;
padding:0;


}
 #background 
{ 
     left: 0px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 1500px;
     height: 3190px; 
     overflow: hidden;
     z-index:0;
    }
 #Layer163 
{ 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     width: 1500px;
     height: 630px;
     z-index:10;
} 
 #logo 
{ 
     left: 279px; 
     top: 18px; 
     position: absolute; 
     width: 223px;
     height: 162px;
     z-index:77;
} 
#learnmore 
{ 
     left: 512px; 
     top: 458px; 
     position: absolute; 
     width: 78px;
     height: 10px;
     z-index:14;
} 
 #Shape46 
{ 
     left: 248px; 
     top: 672px; 
     position: absolute; 
     width: 588px;
     height: 142px;
     z-index:73;
}
 #Shape8 
{ 
     left: 488px; 
     top: 444px; 
     position: absolute; 
     width: 157px;
     height: 35px;
     z-index:13;
} 
 #Shape37 
{ 
     left: 1041px; 
     top: 25px; 
     position: absolute; 
     width: 212px;
     height: 32px;
     z-index:78;
	 border-radius:25px;
}
 #Search 
{ 
     left: 1045px; 
     top: 25px; 
     position: absolute; 
     width: 58px;
     height: 80px;
     z-index:79;
}
 #Shape5 
{ 
     left: -65px; 
     top: 594px; 
     position: absolute; 
     width: 1614px;
     height: 53px;
     z-index:75;
	 text-decoration:none!important;
	 color:white;
	 font-family:Myriad Pro;
}
  #AboutTheCouncilMembe_0 
{ 
     left: 249px; 
     top: 3085px; 
     position: absolute; 
     width: 1200px;
     height: 13px;
     z-index:9;
	 text-decoration:none!important;
	 color:white;
	 font-family:Myriad Pro;
} 
 #AboutTheCouncilMembe_1 
{ 
     left: 249px; 
     top: 614px; 
     position: absolute; 
     width: 1200px;
     height: 13px;
     z-index:76;
	 text-decoration:none!important;
	 
} 
 #text1
{ 
     left: 279px; 
     top: 240px; 
     position: absolute; 
     width: 631px;
     height: 59px;
     z-index:11;
} 
 #SPACEFORADVERTISMENT 
{ 
     left: 356px; 
     top: 734px; 
     position: absolute; 
     width: 372px;
     height: 19px;
     z-index:74;
}
 #BusinessAdvisoryServ 
{ 
     left: 1197px; 
     top: 690px; 
     position: absolute; 
     width: 298px;
     height: 15px;
     z-index:61;
}
 #Shape43_3 
{ 
     left: 880px; 
     top: 1440px; 
     position: absolute; 
     width: 373px;
     height: 379px;
     z-index:44;
}
 #Shape43_4 
{ 
     left: 880px; 
     top: 1025px; 
     position: absolute; 
     width: 373px;
     height: 429px;
     z-index:50;
}
 #Shape43_5 
{ 
     left: 881.5px; 
     top: 725px; 
     position: absolute; 
     width: 368px;
     height: 282px;
     z-index:59;
}

 #ABusinessGuidetoSaud_3 
{ 
     left: 8108px; 
     top: 1067px; 
     position: absolute; 
     width: 325px;
     height: 209px;
     z-index:56;
} 
 #ABusinessGuidetoSaud_4 
{ 
     left: 908px; 
     top: 742px; 
     position: absolute; 
     width: 592px;
     height: 36px;
     z-index:62;
} 

 #ABusinessGuidetoSaud_5 
{ 
     left: 908px; 
     top: 742px; 
     position: absolute; 
     width: 325px;
     height: 209px;
     z-index:63;
}
 #ABusinessGuidetoSaud_6 
{ 
     left: 260px; 
     top: 933px; 
     position: absolute; 
     width: 1240px;
     height: 36px;
     z-index:67;
} 

 #ABusinessGuidetoSaud_7 
{ 
     left: 249px; 
     top: 864px; 
     position: absolute; 
     width: 570px;
     height: 168px;
     z-index:68;
} 
 #BusinessCouncilRelea 
{ 
     left: 249px; 
     top: 1057px; 
     position: absolute; 
     width: 571px;
     height: 212px;
     z-index:69;
}
 #Layer161_6 
{ 
     left: 234px; 
     top: 863px; 
     position: absolute; 
     width: 370px;
     height: 50px;
     z-index:65;
}
 #Layer161_5 
{ 
     left: 882px; 
     top: 672px; 
     position: absolute; 
     width: 370px;
     height: 50px;
     z-index:60;
} 
#Layer165 
{ 
     left: 908px; 
     top: 1112px; 
     position: absolute; 
     width: 129px;
     height: 196px;
     z-index:57;
}
 #Shape41 
{ 
     left: -33px; 
     top: 3063px; 
     position: absolute; 
     width: 1721px;
     height: 96px;
     z-index:3;
} 
 #Shape43_0 
{ 
     left: 1070px; 
     top: 2362px; 
     position: absolute; 
     width: 183px;
     height: 208px;
     z-index:29;
}
 #Shape43_2 
{ 
     left: 880px; 
     top: 1880px; 
     position: absolute; 
     width: 373px;
     height: 523px;
     z-index:37;
}
 #NewMembers 
{ 
     left: 896px; 
     top: 2387px; 
     position: absolute; 
     width: 111px;
     height: 10px;
     z-index:35;
} 
 #Layer167 
{ 
     left: 898px; 
     top: 2418px; 
     position: absolute; 
     width: 146px;
     height: 142px;
     z-index:36;
} 
 #Layer161_1 
{ 
     left: 882px; 
     top: 2364px; 
     position: absolute; 
     width: 181px;
     height: 50px;
     z-index:34;
} 
 #Shape43_1 
{ 
     left: 881px; 
     top: 2362px; 
     position: absolute; 
     width: 183px;
     height: 208px;
     z-index:33;
} 
 #VectorSmartObject 
{ 
     left: 1097px; 
     top: 2446px; 
     position: absolute; 
     width: 132px;
     height: 92px;
     z-index:32;
} 
 #Shape43_6 
{ 
     left: 232px; 
     top: 861px; 
     position: absolute; 
     width: 373px;
     height: 313px;
     z-index:64;
}
 #BusinessAdvisoryServ_0 
{ 
     left: 250px; 
     top: 841px; 
     position: absolute; 
     width: 615px;
     height: 45px;
     z-index:66;
} 
 #USSABCtoLeadDownstre 
{ 
     left: 249px; 
     top: 1838px; 
     position: absolute; 
     width: 571px;
     height: 300px;
     z-index:72;
}
 #USSABCPreparesSurvey 
{ 
     left: 249px; 
     top: 1285px; 
     position: absolute; 
     width: 559px;
     height: 193px;
     z-index:70;
} 
 #ABusinessGuidetoSaud_8 
{ 
     left: 249px; 
     top: 1499px; 
     position: absolute; 
     width: 570px;
     height: 168px;
     z-index:71;
} 
 #SPACEFORADVERTISMENT 
{ 
     left: 356px; 
     top: 734px; 
     position: absolute; 
     width: 372px;
     height: 19px;
     z-index:74;
	font-size:22;
	font-family:Verdana;
	font-weight:bold;

}
 #Shape44 
{ 
     left: 22px; 
     top: 28px; 
     position: absolute; 
     width: 67px;
     height: 67px;
     z-index:80;
} 

 #Shape44copy 
{ 
     left: 22px; 
     top: 113px; 
     position: absolute; 
     width: 67px;
     height: 67px;
     z-index:81;
} 
 #Shape41 
{ 
     left: -33px; 
     top: 3063px; 
     position: absolute; 
     width: 1721px;
     height: 96px;
     z-index:3;
} 

 #Shape41copy 
{ 
     left: -49px; 
     top: 3119px; 
     position: absolute; 
     width: 1721px;
     height: 73px;
     z-index:4;
}
 #Layer148 
{ 
     left: 0px; 
     top: 2884px; 
     position: absolute; 
     width: 1499px;
     height: 298px;
     z-index:2;
} 
#fb_19
{ 
     left: 1132px; 
     top: 3142px; 
     position: absolute; 
     width: 107px;
     height: 26px;
     z-index:5;
} 
#in_21{

    left: 1152px; 
     top: 3142px; 
     position: absolute; 
     width: 107px;
     height: 26px;
     z-index:5;


}
#in_23{

    left: 1192px; 
     top: 3142px; 
     position: absolute; 
     width: 107px;
     height: 26px;
     z-index:5;


}
 #2012OrigenTelecomALL 
{ 
     left: 404px; 
     top: 3150px; 
     position: absolute; 
     width: 219px;
     height: 10px;
     z-index:6;
}
 #copyrights2014psjcci 
{ 
     left: 249px; 
     top: 3149px; 
     position: absolute; 
     width: 425px;
     height: 39px;
     z-index:7;
}
 #Withmoreuploadbandwi 
{ 
     left: 280px; 
     top: 335px; 
     position: absolute; 
     width: 450px;
     height: 69px;
     z-index:12;
} 
 #Shape9 
{ 
     left: 605px; 
     top: 453px; 
     position: absolute; 
     width: 18px;
     height: 18px;
     z-index:15;
} 
 #Shape43 
{ 
     left: 880px; 
     top: 2582px; 
     position: absolute; 
     width: 373px;
     height: 437px;
     z-index:16;
}
 #Layer161 
{ 
     left: 882px; 
     top: 2584px; 
     position: absolute; 
     width: 370px;
     height: 50px;
     z-index:17;
} 
 #ExchangeRates 
{ 
     left: 907px; 
     top: 2602px; 
     position: absolute; 
     width: 164px;
     height: 15px;
     z-index:18;
} 
 #ABusinessGuidetoSaud 
{ 
     left: 908px; 
     top: 2654px; 
     position: absolute; 
     width: 325px;
     height: 209px;
     z-index:19;
} 
 #Shape45 
{ 
     left: 904px; 
     top: 2646px; 
     position: absolute; 
     width: 107px;
     height: 31px;
     z-index:20;
}
 #Currency 
{ 
     left: 926px; 
     top: 2655px; 
     position: absolute; 
     width: 65px;
     height: 13px;
     z-index:21;
	 font-family:Verdana;
	 font-weight:bold;
	 font-size:13;
	 color:white;
} 
 #Shape45copy 
{ 
     left: 1054px; 
     top: 2646px; 
     position: absolute; 
     width: 89px;
     height: 31px;
     z-index:22;
}
 #Buying 
{ 
     left: 1075px; 
     top: 2655px; 
     position: absolute; 
     width: 49px;
     height: 13px;
     z-index:23;
	 font-family:Verdana;
	 font-weight:bold;
	 font-size:13;
	 color:white;
}
 #Shape45copy2 
{ 
     left: 1151px; 
     top: 2646px; 
     position: absolute; 
     width: 89px;
     height: 31px;
     z-index:24;
}
 #AustralianDollarCana 
{ 
     left: 910px; 
     top: 2670px; 
     position: absolute; 
     width: 108px;
     height: 250px;
     z-index:26;
} 

 #layer_94759561705144510352 
{ 
     left: 1079px; 
     top: 2694px; 
     position: absolute; 
     width: 41px;
     height: 250px;
     z-index:27;
} 

 #layer_95958517314475104028 
{ 
     left: 1176px; 
     top: 2694px; 
     position: absolute; 
     width: 41px;
     height: 250px;
     z-index:28;
}

 #Layer161_0 
{ 
     left: 1071px; 
     top: 2364px; 
     position: absolute; 
     width: 181px;
     height: 50px;
     z-index:30;
} 
 #CalendarofEvents 
{ 
     left: 1074px; 
     top: 2387px; 
     position: absolute; 
     width: 400px;
     height: 6px;
     z-index:31;
	 COLOR:WHITE;
	 size:2;
}
 #Layer161_2 
{ 
     left: 882px; 
     top: 1822px; 
     position: absolute; 
     width: 370px;
     height: 50px;
     z-index:38;
} 
 #UpcomingEvents 
{ 
     left: 907px; 
     top: 1847px; 
     position: absolute; 
     width: 177px;
     height: 15px;
     z-index:39;
	color:white;
}
 #ABusinessGuidetoSaud_0 
{ 
     left: 908px; 
     top: 1899px; 
     position: absolute; 
     width: 592px;
     height: 36px;
     z-index:40;
} 
 #MembersOnlyEventRoun 
{ 
     left: 908px; 
     top: 1880px; 
     position: absolute; 
     width: 316px;
     height: 365px;
     z-index:41;

}
 #READMORE 
{ 
    text-decoration: none;
	left: 1159px; 
     top: 2314px; 
     position: absolute; 
     width: 75px;
     height: 11px;
     z-index:42;
	 COLOR:#009933;
	 FONT-SIZE:11;
	 font-weight:bold;
	 font-family:Verdana;
text-decoration: none;
} 

 #MoreCurrencies 
{ 
     left: 1120px; 
     top: 3030px; 
     position: absolute; 
     width: 118px;
     height: 10px;
     z-index:43;
}
 #Layer161_3 
{ 
     left: 882px; 
     top: 1438px; 
     position: absolute; 
     width: 370px;
     height: 50px;
     z-index:45;
} 
 #LatestNewsBulletins 
{ 
     left: 907px; 
     top: 1456px; 
     position: absolute; 
     width: 234px;
     height: 15px;
     z-index:46;
} 
 #ABusinessGuidetoSaud_1 
{ 
     left: 908px; 
     top: 1508px; 
     position: absolute; 
     width: 592px;
     height: 36px;
     z-index:47;
}
 #SaudiaOffersNewRoute 
{ 
     left: 908px; 
     top: 1500px; 
     position: absolute; 
     width: 313px;
     height: 212px;
     z-index:48;
}
 #READMOREcopy 
{ 
     left: 1159px; 
     top: 1771px; 
     position: absolute; 
     width: 72px;
     height: 10px;
     z-index:49;
} 
 #Layer161_4 
{ 
     left: 882px; 
     top: 997px; 
     position: absolute; 
     width: 370px;
     height: 50px;
     z-index:51;
} 
 #Publications 
{ 
     left: 907px; 
     top: 1015px; 
     position: absolute; 
     width: 135px;
     height: 15px;
     z-index:52;
	 COLOR:WHITE;
	 SIZE:4;
}
#TheUSSaudiArabianBus 
{ 
     left: 1050px; 
     top: 1090px; 
     position: absolute; 
     width: 200px;
     height: 309px;
     z-index:53;
} 

 #companiesinterestedi 
{ 
     left: 908px; 
     top: 1333px; 
     position: absolute; 
     width: 312px;
     height: 33px;
     z-index:54;
}
#ABusinessGuidetoSaud_2 
{ 
     left: 908px; 
     top: 1040px; 
     position: absolute; 
     width: 462px;
     height: 21px;
     z-index:55;
}
 #READMORE_0 
{ 
     left: 1159px; 
     top: 1391px; 
     position: absolute; 
     width: 72px;
     height: 10px;
     z-index:58;
} 
 #BusinessAdvisoryServ 
{ 
     left: 890px; 
     top: 690px; 
     position: absolute; 
     width: 370px;
     height: 55px;
     z-index:61;
}
#Selling 
{ 
     left: 1172px; 
     top: 2655px; 
     position: absolute; 
     width: 48px;
     height: 13px;
     z-index:25;
	 font-family:Verdana;
	 font-weight:bold;
	 font-size:13;
	 color:white;
}
 #READMORE_0 
{ 
     left: 1159px; 
     top: 950px; 
     position: absolute; 
     width: 72px;
     height: 10px;
     z-index:58;
}
#text{

     left: 10056px; 
     top: 1112px; 
     position: absolute; 
     width: 172px;
     height: 209px;
     z-index:53;

}

#more
{

left:750px;
top:1030px;
position:absolute;
font-family:Verdana;
font-weight:bold;
font-size:11;
color:#009933;
text-decoration:none;

}

#more1
{

left:750px;
top:1300px;
position:absolute;

}
#more2
{

left:750px;
top:1280px;
position:absolute;

}
#more3
{

left:750px;
top:2050px;
position:absolute;

}
#more4
{

left:750px;
top:1890px;
position:absolute;
text-decoration:none;

}
#more7
{
left:1050;
top:850;
position:absoulte;


}
#pak-saudi-3sms_03{
top:1220;
left:750;
position:absolute;



}
 #READMORE1 
{ 
    text-decoration: none;
	left: 1159px; 
     top: 1114px; 
     position: absolute; 
     width: 75px;
     height: 11px;
     z-index:42;
	 COLOR:#009933;
	 FONT-SIZE:11;
	 font-weight:bold;
	 font-family:Verdana;
text-decoration: none;
} 
.img{
left:750;
position:absolute;
top:1780;
 text-decoration: none;
 color:#009933;
 font-weight:bold;
 font-size:12;



}
